# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science
- Examples of evaluating arithmetic expressions in Python
- Commonly used libraries used by Data Scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. scipy
3. Scikit-learn

|Data Science Tools| 
| -------------    |
| Apache Spark     |
| Rstudio          |
| Tensor Flow      |

### Below are a few examples of evaluating arithmetic expressions in Python

2+2

(5+9)*2

This a simple arithmetic expression to mutiply then add integers

In [41]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [45]:
h=200//60
print(h)

3

## Author 
Lena GUIOT